beautifulsoup4==4.9.0
cssselect==1.1.0
dj-database-url==0.5.0
Django==2.2.10
Faker==4.0.2
gunicorn==20.0.4
lxml==4.5.0
markdown2==2.3.8
Pillow==7.0.0
psycopg2==2.8.4
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
readtime==1.1.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
text-unidecode==1.3
whitenoise==5.0.1
