{% extends "base.html" %} {% block externals %} {% load staticfiles %}
<!-- Icons font CSS-->
<link
  href="{% static 'articles/vendor/mdi-font/css/material-design-iconic-font.min.css' %}"
  rel="stylesheet"
  media="all"
/>
<link
  href="{% static 'articles/vendor/font-awesome-4.7/css/font-awesome.min.css' %}"
  rel="stylesheet"
  media="all"
/>
<!-- Font special for pages-->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
  rel="stylesheet"
/>

<!-- Vendor CSS-->
<link
  href="{% static 'articles/vendor/select2/select2.min.css' %}"
  rel="stylesheet"
  media="all"
/>
<link
  href="{% static 'articles/vendor/datepicker/daterangepicker.css' %}"
  rel="stylesheet"
  media="all"
/>

<!-- Main CSS-->
<link
  href="{% static 'articles/css/main2.css' %}"
  rel="stylesheet"
  media="all"
/>

{% endblock externals %} {% block content %}
<div class="page-wrapper bg-gra-03 p-t-130 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Create Article</h2>
      </div>
      <div class="card-body">
        <form
          method="POST"
          action="{% url 'article:create'%}"
          enctype="multipart/form-data"
        >
        {% csrf_token %}
          <div class="form-row m-b-55">
            <div class="name">Title</div>
            <div class="value">
              <div class="row row-space">
                <div class="col">
                  <div class="input-group-desc input--style-5">
                    <!-- <input class="input--style-5" type="text" name="title"   required/> -->
                    {{form.title.errors}}
                    {{form.title}}
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Category</div>
            <div class="value">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search ">
                {{form.category}}
                 <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Image</div>
            <div class="value">
              <div class="input-group">
                <!-- <input type="file" class="form-control-file" id="image" name="image" required> -->
                {{form.image.errors}}
                {{form.image}}
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Body</div>
            <div class="value">
              <div class="row row-space">
                <div class="col">
                  <div class="input-group-desc">
                    
                    <!-- <textarea name="body" class="input--style-5" id="" cols="40" rows="20" required></textarea> -->
                    {{form.body.errors}}
                    {{form.body}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Status</div>
            <div class="value">
              <div class="row row-space">
                <div class="col">
                  <div class="input-group-desc">
                    
                    <!-- <textarea name="body" class="input--style-5" id="" cols="40" rows="20" required></textarea> -->
                    {{form.status.errors}}
                    {{form.status}}
                  </div>
                </div>
              </div>
            </div>
          </div>
         

          <div>
            <button class="btn btn--radius-2 btn--red" type="submit">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block externalScripts %}
<script src="{% static 'articles/vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'articles/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'articles/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'articles/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'articles/js/global.js' %}"></script>
{% endblock externalScripts %}
