{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Password Reset</h1>
  <p class="font-weight-bold">
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.
    <form  method="post">
        <div class="fieldWrappers">
            {% csrf_token %}
        {{form.email.errors}}
        {{form.email.label_tag}}
        {{form.email}}
        </div>
    <button class="btn btn-primary">Reset</button>
    </form>
  </p>
</div>
{% endblock content %}
