{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="font-weight-bold">Password change</h1>
  <p class="font-weight-bold mb-5">
    Please enter your old password, for security purpose, and then enter your new
    password twice so we can verify you typed it in correctly.
  </p>

  <form method="post">
      {% csrf_token %}
    <div class="fieldWrappers">
      {{form.old_password.errors }} 
      {{ form.old_password.label_tag }}
      {{form.old_password}}
    </div>
    <div class="fieldWrappers">
      {{form.new_password1.errors }} 
      {{ form.new_password1.label_tag }}
      {{form.new_password1}}
    </div>
    <div class="fieldWrappers">
      {{form.new_password2.errors }} {{ form.new_password2.label_tag }}
      {{form.new_password2}}
    </div>
    <button type="submit" class="btn btn-success p-1">Change Password</button>
  </form>
</div>
{% endblock content %}
